/* .btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-inactive {
    background-color: gray;
    color: lightgray;
    border-color: gray;
    cursor: not-allowed;
}

.btn-active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: pointer;
} */

.myBtn {
    background-color: red;
    fill: white;
    padding: 0;
    border: none;
    
}